######  Backend ######

**/secret_key.py
secret_key.py

.DS_Store
*/.DS_Store
*/*/.DS_Store

*/__pycache__
*/*/__pycache__

*/migrations
*/*/migrations

media/*

######################

###### Frontend ######

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# the models, which are too large to be pushed to Github
models/

# news article dataset from Kaggle
datasets/

#####################