.source {
    height: fit-content;
    display: grid;
    grid-template-columns: 10% 65% 15% 10%;
    grid-template-rows: 1.5vw fit-content 1vw;
    justify-content: center;
    padding: 1vw;
    background-color: white;
    border: solid;
    border-width: 0vw 0vw 0.15vw 0vw;
    border-color: whitesmoke;
}

.source:hover {
    background-color: whitesmoke;
}

.score {
    height: 2.5vw;
    width: 2.5vw;
    text-align: center;
    padding: 0.7vw;
    border-radius: 100vw;
    background-color: thistle;
    grid-row: 1/3;
    grid-column: 1;
}

.news-site {
    padding-left: 1vw;
    justify-content: left;
    text-align: left;
    grid-row: 1;
    grid-column: 2/4;
    font-weight: bold;
}

.news-title {
    padding-left: 1vw;
    padding-right: 0.5vw;
    justify-content: left;
    text-align: left;
    grid-row: 2;
    grid-column: 2/4;
}

.news-author {
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: left;
    grid-row: 3;
    grid-column: 2;
    color: gray;
}

.news-date {
    grid-row: 3;
    grid-column: 3;
    color: gray;
    text-align: right;
}

.upvote {
    justify-content: left;
    background-color: none;
    grid-row: 1/4;
    grid-column: 4;
    padding-top: 1.5vw;
}

.upvoteButton {
    border: none;
}

.upvoteButton:hover {
    cursor: pointer;
}