.topicList {
    display: block;
}


.App {
  display: block;
  min-height: 100vh;
  max-height: fit-content;
  padding-bottom: 5vw;
  text-align: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5vw;
}